<div class="modal-header">
    <h3>ADD NEW ITEM</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
</div>
<div class="modal-body">
    <form action="{% url 'store:add_item' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder=" ENTER ITEM GENERIC NAME" class="form-control mt-3" required>
        <!-- Unit Selection Dropdown -->
        <select name="dosage_form" class="form-control mt-3" required>
            <option value="Unit">Dosage form</option>
            <option value="Tablet">Tablet</option>
            <option value="Capsule">Capsule</option>
            <option value="Consumable">Consumable</option>
            <option value="Cream">Cream</option>
            <option value="Syrup">Syrup</option>
            <option value="Suspension">Suspension</option>
            <option value="Eye-drop">Eye-drop</option>
            <option value="Ear-drop">Ear-drop</option>
            <option value="Eye-ointment">Eye-ointment</option>
            <option value="Nasal">Nasal</option>
            <option value="Injection">Injection</option>
            <option value="Infusion">Infusion</option>
            <option value="Inhaler">Inhaler</option>
            <option value="Vaginal">Vaginal</option>
            <option value="Rectal">Rectal</option>
        </select>
        <input type="text" name="brand" placeholder="BRAND NAME" class="form-control mt-3" required>
        <!-- Unit Selection Dropdown -->
        <select name="unit" class="form-control mt-3" required>
            <option value="Unit">Select Unit</option>
            <option value="Pcs">Pieces</option>
            <option value="Pack">Packets</option>
            <option value="Tab">Tablets</option>
            <option value="Tin">Tins</option>
            <option value="Caps">Capsules</option>
            <option value="Carton">Cartons</option>
            <option value="Card">Cards</option>
            <option value="Bottle">Bottles</option>
            <option value="Roll">Rolls</option>
            <option value="Vail">Vail</option>
            <option value="Amp">Ample</option>
        </select>

        <input type="number" name="cost" id="cost" step="0.01" placeholder="COST PRICE" class="form-control mt-3"
            oninput="calculatePrice()" required>

        <!-- Markup Percentage Dropdown -->
        <select name="markup" id="markup" class="form-control mt-3" onchange="calculatePrice()">
            <option value="0">Select Markup</option>
            <option value="2.5">2.5% markup</option>
            <option value="5">5% markup</option>
            <option value="7.5">7.5% markup</option>
            <option value="10">10% markup</option>
            <option value="12.5">12.5% markup</option>
            <option value="15">15% markup</option>
            <option value="17.5">17.5% markup</option>
            <option value="20">20% markup</option>
            <option value="22.5">22.5% markup</option>
            <option value="25">25% markup</option>
            <option value="27.5">27.5% markup</option>
            <option value="30">30% markup</option>
            <option value="32.5">32.5% markup</option>
            <option value="35">35% markup</option>
            <option value="37.5">37.5% markup</option>
            <option value="40">40% markup</option>
            <option value="42.5">42.5% markup</option>
            <option value="45">45% markup</option>
            <option value="47.5">47.5% markup</option>
            <option value="50">50% markup</option>
            <option value="52.5">52.5% markup</option>
            <option value="55">55% markup</option>
            <option value="57.5">57.5% markup</option>
            <option value="60">60% markup</option>
            <option value="62.5">62.5% markup</option>
            <option value="65">65% markup</option>
            <option value="67.5">67.5% markup</option>
            <option value="70">70% markup</option>
            <option value="72.5">72.5% markup</option>
            <option value="75">75% markup</option>
            <option value="77.5">77.5% markup</option>
            <option value="80">80% markup</option>
            <option value="82.5">82.5% markup</option>
            <option value="85">85% markup</option>
            <option value="87.5">87.5% markup</option>
            <option value="90">90% markup</option>
            <option value="92.5">92.5% markup</option>
            <option value="95">95% markup</option>
            <option value="97.5">97.5% markup</option>
            <option value="100">100% markup</option>
        </select>

        <!-- Automatically calculated price -->
        <input type="number" name="price" step="0.01" id="price" placeholder="ITEM PRICE" class="form-control mt-3"
            readonly>
        <input type="number" name="stock" placeholder="STOCK QUANTITY" class="form-control mt-3" required>
        <input type="date" name="exp_date" class="form-control mt-3" required>
        <input type="submit" class="btn btn-success btn-sm mt-3" value="Save">
    </form>
</div>