{% for procurement in procurements %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>
        {% if procurement.supplier %}
        {{ procurement.supplier.name|upper }}
        {% else %}
        OTHERS
        {% endif %}
    </td>
    <td>{{ procurement.calculated_total|floatformat:2 }}</td>
    <td>{{ procurement.date }}</td>
    <td>
        <a href="{% url 'store:procurement_detail' procurement.id %}">View
            Details</a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="5" style="text-align: center;">No Procurement recorded</td>
</tr>
{% endfor %}