<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    {% block content %}
    <header>
        <div class="receipt-head" style="text-align: center;">
            <h3>Nazz Pharmacy</h3>
            <p>No. 123 FTH Jibia Bypass, Katsina</p>
            <p style="text-align: center;">Date: {{ receipt.date|date:"F j, Y" }}</p>
            <p style="text-align: center;">Receipt Type: <strong>Retail</strong></p>
            <p style="text-align: center;">Receipt ID: {{ receipt.receipt_id }}</p>
            <p style="text-align: center;">Sales Person: {{ user.username }}</p>
        </div>
    </header>

    <form id="buyer-info-form" method="POST" action="{% url 'wholesale:wholesale_receipt_detail' receipt.receipt_id %}"
        style="text-align: center;">
        {% csrf_token %}
        <label for="buyer_name">Buyer's Name:</label>
        <input type="text" id="buyer_name" name="buyer_name"
            value="{{ receipt.buyer_name|default:'WALK-IN CUSTOMER'|upper }}" placeholder="WALK-IN CUSTOMER"
            style="border: none; border-bottom:1px solid grey; margin-bottom: 3px;">
        <div class="box">
            <label for="buyer_address">Buyer's Address:</label>
            <input type="text" id="buyer_address" name="buyer_address" value="{{ receipt.buyer_address|upper }}"
                placeholder="" style="border: none; border-bottom:1px solid grey;">
        </div>
        <br><br>

        <!-- Payment Status Selection -->
        <!-- <label for="payment_status">Payment Status:</label>
        <select id="payment_status" name="payment_status" class="form-select form-select-sm"
            style="display: inline-block; width: auto;">
            <option value="Paid" {% if receipt.paid %}selected{% endif %}>Paid</option>
            <option value="Unpaid" {% if not receipt.paid %}selected{% endif %}>Unpaid</option>
        </select> -->

        <!-- Trigger Button -->
        <button type="button" class="btn-outline-primary btn-sm" id="paymentMethodButton" data-toggle="modal"
            data-target="#paymentMethodModal">
            {% if receipt.payment_method %}
            Payment Method: {{ receipt.payment_method }}
            {% else %}
            Select Payment Method
            {% endif %}
        </button>

        <!-- Hidden Input for Payment Method -->
        <input type="hidden" name="payment_method" id="paymentMethodInput" value="{{ receipt.payment_method }}">
    </form>

    {% if wholesale_sales_items %}
    <div class="col-md-8 offset-md-2 mt-5">
        <table class="table table-hover table-bordered mt-5">
            <thead class="table-primary">
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">D/form</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for sales_item in wholesale_sales_items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sales_item.item.name|title }}</td>
                    <td>{{ sales_item.item.dosage_form|title }}</td>
                    <td>{{ sales_item.item.brand|title }}</td>
                    <td>{{ sales_item.item.unit }}</td>
                    <td>{{ sales_item.quantity }} </td>
                    <td>₦{{ sales_item.price }}</td>
                    <td>₦{{ sales_item.subtotal|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h6 style="text-align:end;">Total Price: ₦{{ total_price|floatformat:2 }}</h6>

        {% if total_discounted_price %}
        <h4 style="text-align:end;">Total Payable: ₦{{ total_discounted_price|floatformat:2 }}</h4>
        {% endif %}

        <button class="btn btn-outline-success btn-sm ml-2" onclick="submitFormAndPrint()">Print Receipt</button>
        <!-- <a href="" class="btn btn-sm btn-outline-secondary">Back</a> -->
    </div>
    {% endif %}
    {% endblock %}

    <footer>
        <p style="text-align: center;">___Thank you for patronage___</p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="paymentMethodModal" tabindex="-1" aria-labelledby="paymentMethodModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentMethodModalLabel">Select Payment Method</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for method in payment_methods %}
                        <li class="list-group-item list-group-item-action {% if receipt.payment_method == method %}active{% endif %}"
                            onclick="selectPaymentMethod('{{ method }}')">
                            {{ method }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        function submitFormAndPrint() {
            document.getElementById('buyer-info-form').submit();

            setTimeout(function () {
                window.print();
                window.location.href = "{% url 'store:view_cart' %}";
            }, 500);
        }

        function selectPaymentMethod(method) {
            document.getElementById('paymentMethodInput').value = method;
            document.getElementById('paymentMethodButton').textContent = `Payment Method: ${method}`;
            var modal = bootstrap.Modal.getInstance(document.getElementById('paymentMethodModal'));
            modal.hide();
        }
    </script>
</body>

</html>