{% extends "partials/base.html" %}
{% block content %}
<div class="container mt-2">
    <h2 style="text-align: center;">Register New User</h2>
    {% for message in messages %}
    <div style="text-align: center;" class="alert alert-{{message.tags}}">{{ message }}</div>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label for="id_name"><strong>Full Name:</strong></label>
                {{ form.full_name }}
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                <label for="id_phone"><strong>Mobile:</strong></label>
                {{ form.mobile }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                <label for="id_address"><strong>Email:</strong></label>
                {{ form.email }}
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                <label for="id_address"><strong>User Type:</strong></label>
                {{ form.user_type }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                <label for="id_address"><strong>Password:</strong></label>
                {{ form.password1 }}
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                <label for="id_address"><strong>Confirm Password:</strong></label>
                {{ form.password2 }}
            </div>
        </div>

        <button type="submit" class="btn btn-success my-3 form-control">REGISTER</button>
    </form>
</div>

<style>
    .container {
        margin-left: 5em;
        width: 50em;
    }

    /* Media Query for Responsive Layout */
    @media (max-width: 768px) {
        .container {
            margin-left: 1em;
            width: 100%;
        }

        .row .col-md-6 {
            width: auto;
            margin-bottom: 15px;
        }

        .btn {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .container {
            margin-left: 1em;
            width: 100%;
        }

        .row .col-md-6 {
            width: auto;
            margin-bottom: 15px;
        }

        .btn {
            width: 100%;
        }
    }
</style>
{% endblock %}